{% extends 'user/base.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block bodyuser %}

    <div class="container" style="background-color: #f6f6f6;padding:15px;">
    <h3 class="text-center">
        Liste des Sorties
    </h3>

    <br>
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col" colspan="4" class="text-center">Sorties organisées</th>
            </tr>
            </thead>
            <tbody>
    {% for e in organized%}
        <tr><td><a href="{{ path('EditEvent', { 'id': e.getId() }) }}">{{ e.getName() }}</a></td>
            <td>
                {% if e.start.timestamp>date().timestamp %}
                    {{ e.getState().getLabel() }}
                {% endif %}
                {% if e.start.timestamp<date().timestamp and e.start|date_modify("+"~e.duration~" minute").timestamp>date().timestamp %}
                    En Cours
                {% endif %}
                {% if e.start.timestamp<date().timestamp and e.start|date_modify("+"~e.duration~" minute").timestamp<date().timestamp %}
                    Terminée
                {% endif %}
            </td></tr>
    {% endfor %}
    </table>
    <br>

        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col" colspan="4" class="text-center">Sorties Rejointes</th>
            </tr>
            </thead>
            <tbody>
    {% for e in joined%}
        <tr><td><a href="{{ path('ViewEvent', { 'id': e.getId() }) }}">{{ e.getName() }}</a></td>
            <td>
                {% if e.start.timestamp>date().timestamp %}
                    {{ e.getState().getLabel() }}
                {% endif %}
                {% if e.start.timestamp<date().timestamp and e.start|date_modify("+"~e.duration~" minute").timestamp>date().timestamp %}
                    En Cours
                {% endif %}
                {% if e.start.timestamp<date().timestamp and e.start|date_modify("+"~e.duration~" minute").timestamp<date().timestamp %}
                    Terminée
                {% endif %}
            </td></tr>
    {% endfor %}
    </table>

        <br>
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col" colspan="4" class="text-center">Sorties à Rejoindre</th>
            </tr>
            </thead>
            <tbody>
    {% for e in notJoined%}
        <tr><td><a href="{{ path('ViewEvent', { 'id': e.getId() }) }}">{{ e.getName() }}</a></td>
            <td>
                {% if e.start.timestamp>date().timestamp %}
                    {{ e.getState().getLabel() }}
                {% endif %}
                {% if e.start.timestamp<date().timestamp and e.start|date_modify("+"~e.duration~" minute").timestamp>date().timestamp %}
                    En Cours
                {% endif %}
                {% if e.start.timestamp<date().timestamp and e.start|date_modify("+"~e.duration~" minute").timestamp<date().timestamp %}
                    Terminée
                {% endif %}
            </td></tr>
    {% endfor %}
    </table>
{% endblock %}
