{% extends 'base.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block body %}
    <h1>Liste des Sorties</h1>
    <h3>Sorties que vous organisez</h3>
    {% for e in organized%}
        <a href="/event/EditEvent/{{ e.getId() }}">{{ e.getName() }}</a></br>
    {% endfor %}
    <h3>Sorties Rejoints</h3>
    {% for e in joined%}
        <a href="/event/ViewEvent/{{ e.getId() }}">{{ e.getName() }}</a></br>
    {% endfor %}
    <h3>Sorties à Rejoindre</h3>
    {% for e in notJoined%}
        <a href="/event/ViewEvent/{{ e.getId() }}">{{ e.getName() }}</a></br>
    {% endfor %}
{% endblock %}