{% extends 'base.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block body %}
    <div class="container">
    <h2 class="text-center ironh2"> Trouver une sortie </h2>
    <br>

        <div class="container" style="background-color: #f6f6f6;padding:15px;">

            {{ form_start(filterForm) }}
            {{ form_errors(filterForm) }}
            <div class="row">
                <div class="col-lg-4">
                    {{ form_row (filterForm.searchZone) }}
                    {{ form_row (filterForm.city) }}
                </div>
                <div class="col-lg-4">

                    {{ form_row (filterForm.dateBegin) }}

                    {{ form_row (filterForm.dateEnd) }}
                </div>

                <div class="col-lg-4">
                    <br>
                    {% do filterForm.organizedEvent.setRendered() %}
                    {% do filterForm.joinedEvent.setRendered() %}
                    {% do filterForm.joinableEvent.setRendered() %}
                    {{ form_row (filterForm.pastEvent) }}
                </div>

            </div>
            <br>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <input class="btn btn-secondary" type="submit">
                </div>
                {{ form_end(filterForm) }}
            </div>

            <br>

        </div>


        <br>
        <h2 class="text-center ironh2"> Liste des Sorties</h2>
        <br>

        <div class="container" style="background-color: #f6f6f6;padding:15px;">
    <table class="table">
        <thead>
        <tr>
            <th>Nom de la sortie</th>
            <th>Date de la sortie</th>
            <th>clôture</th>
            <th>Inscrits/place</th>
            <th>Etat</th>
            <th>Organisateur</th>
        </tr>
        </thead>
        <tbody>
        {% for e in events%}

                <tr>
                    <td>{{ e['event'].name }}</td>
                    <td>{{ e['event'].start|date('Y-m-d H:i') }}</td>
                    <td>{{ e['event'].SignInLimit|date('Y-m-d H:i') }}</td>
                    <td>{{ e['count'] }}/{{ e['event'].MaxUsers }}</td>
                    <td>
                        {% if e['event'].start.timestamp>date().timestamp %}  {% if e['event'].getState().getId()==1 %}
                        <h5><span class="badge badge-info">
                        {% elseif e['event'].getState().getId()==2 %}
                            <h5><span class="badge badge-success">
                        {% elseif e['event'].getState().getId()==3 %}
                            <h5><span class="badge badge-success">
                        {% elseif e['event'].getState().getId()==4 %}
                            <h5><span class="badge badge-danger">

                        {% endif %}
                                    {{ e['event'].getState().getLabel() }}
                            </span>
                        </h5>
                        {% endif %}
                        {% if e['event'].start.timestamp<date().timestamp and e['event'].start|date_modify("+"~e['event'].duration~" minute").timestamp>date().timestamp %}
                            En Cours
                        {% endif %}
                        {% if e['event'].start.timestamp<date().timestamp and e['event'].start|date_modify("+"~e['event'].duration~" minute").timestamp<date().timestamp %}
                            Terminée
                        {% endif %}
                    </td>

                    <td>{{ e['event'].organizer.name }}  {{ e['event'].organizer.firstname }}</td>

                </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    </div>

{% endblock %}
