{% extends 'base.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block body %}
    <div class="contanier">
        <div class="form-row">
            <h1>{{ Event.name }}</h1>
            <div class="col">

                <p>Début: {{ Event.start|date('Y-m-d H:i') }}</p>
                <p>Description: {{ Event.description }}</p>
                <p>Durée: {{ Event.duration }} minutes</p>
                <p>Maximum {{ Event.maxUsers }} personnes</p>
                <p>Date limite d'inscription: {{ Event.signInLimit|date('Y-m-d H:i') }}</p>
                <p>Etat:
                    {% if Event.start.timestamp>date().timestamp %}
                        {{ Event.getState().getLabel() }}
                    {% endif %}
                    {% if Event.start.timestamp<date().timestamp and Event.start|date_modify("+"~Event.duration~" minute").timestamp>date().timestamp %}
                        En Cours
                    {% endif %}
                    {% if Event.start.timestamp<date().timestamp and Event.start|date_modify("+"~Event.duration~" minute").timestamp<date().timestamp %}
                        Terminée
                    {% endif %}
                </p>
                </br>
            </div>
            <div class="col">
                <p>Lieu: {{ Event.location.name }}</p>
                <p>Rue: {{ Event.location.street }}</p>
                <p>Ville: {{ Event.location.city.name }}</p>
                <p>Code postal: {{ Event.location.city.postalCode }}</p>
                <p>Latitude: {{ Event.location.latitude }}</p>
                <p>Longitude: {{ Event.location.longitude }}</p>
            </div>
        </div>
        {%   if isOrganizer == false and isJoinable == true and Event.getState().getId()==2 %}
            {%   if isJoined == false %}
                {{ form_start(eventForm) }}
                    <input type="submit" value="Rejoindre!">
                {{ form_end(eventForm) }}
            {% endif %}
            {%   if isJoined == true %}
                {{ form_start(eventForm) }}
                <input type="submit" value="Quitter!">
                {{ form_end(eventForm) }}
            {% endif %}
        {% endif %}
        {% if isJoinable == false or Event.getState().getId()!=2 %}
            Il n'est plus possible de s'inscrire a cette sortie.
        {% endif %}
        {%   if isOrganizer == true and Event.users|length > 0 %}
            <h2>Liste des participants inscrits:</h2>
            <table border="1">
                <thead>
                    <th>Pseudo</th>
                    <th>Nom</th>
                </thead>
                <tbody>
                    {% for u in Event.users %}
                        <tr>
                            <td>{{ u.username }}</td>
                            <td>{{ u.firstname }} {{ u.name }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table></br>
            <a  class="btn btn-primary" href="{{ path('user_event_edit', { 'id': Event.id }) }}">Modifier</a>
        {% endif %}
        <a  class="btn btn-primary" href="{{ path('user_event_list') }}">Retour</a>
    </div>
{% endblock %}