{% extends 'user/base.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block bodyuser %}

    <div class="container" style="background-color: #f6f6f6;padding:15px;">
       <br>
        <h3 class="text-center">
            Vos données personnelles
        </h3>
        <br>
        {% if user!=null %}
            {% if user.illustration!=null %}
                <img src="{{ asset('uploads/illustration/' ~ user.illustration) }}" width="300"/>
            {% endif %}
        {% endif %}

        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-6">
                {{ form_start(userForm) }}


                {{ form_widget(userForm) }}
                <div class="d-flex justify-content-between">
                    <button type="submit"  class="btn btn-primary">Modifier</button>
                    {{ form_end(userForm) }}
                    <a href="{{ path('user_checkPassword') }}">Changer de mot de passe</a>
                </div>
            </div>
        </div>


    </div>

{% endblock %}
