{% extends 'user/base.html.twig' %}

{% block title %}Info{% endblock %}

{% block bodyuser %}
    {% set user = userToShow %}
    <div>
        <h1 class="text-center">{{ user.username }}</h1>
        <br><br>
    </div>
    <div>
        <h3 class="text-center">{{ user.firstname }}</h3>
        <br>
        <h3 class="text-center">{{ user.name }}</h3>
        <br>
        <h3 class="text-center">{{ user.phone }}</h3>
        <br>
        <h3 class="text-center">{{ user.email }}</h3>
        <br>
        <h3 class="text-center">{{ user.campus }}</h3>
    </div>




{% endblock %}