{% extends 'user/base.html.twig' %}

{% block title %}Info{% endblock %}

{% block bodyuser %}
    {% set user = userToShow %}
    <div>
        <h1 class="text-center">{{ user.username }}</h1>
        <br><br>
    </div>
    <div>
        <h3>Nom: {{ user.firstname }}</h3>
        <br>
        <h3>Prénom: {{ user.name }}</h3>
        <br>
        <h3>Téléphone: {{ user.phone }}</h3>
        <br>
        <h3>Email: {{ user.email }}</h3>
        <br>
        <h3>Site de rattachement: {{ user.campus }}</h3>
        <br>
        <div class="d-flex justify-content-center">
        <a class="btn btn-primary" href="javascript:history.back()">Retour</a>
        </div>
    </div>




{% endblock %}